
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.start,
.machineL
 {
  font-size: 11px; 
  position: fixed;
  top: 80px;
  left: 300px; /*od sidemenu */
  bottom: 0;
  display: flex;
}
.newC{
  position: fixed;
  top: 80px;
  left: 300px; /*od sidemenu */
  bottom: 0;
  display: flex;
 flex-direction: column;
font-size: 20px;

}
.menu span {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu span:hover {
  background-color: #3f9acf;
  color: white;
}